[alias]
	st = status
	co = checkout
	br = branch
	unstage = reset HEAD --
	last = log -1 HEAD
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[color]
  ui = auto
[core]
  editor = subl -w
  excludesfile = .DS_Store
[push]
  default = simple
[user]
	name = Brent Miller
	email = brent@joinyearone.io
[pull]
	rebase = true
